__pycache__/
*.h5
*.pt
*.pth
*.ipynb_checkpoints/

# Datasets (keep only metadata and split files)
data/raw/
data/processed/
data/external/
data/interim/

!data/README.md
!data/splits/
!data/splits/*.csv

# Colab/Drive temp
.tmp.driveupload/
